<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is about page</h1>
    <hr/>
    <div class="host-tag" th:insert="~{base :: parent(~{::section})}">
        <section>
            <h2>Dynamic Content</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil ad perferendis eum, tenetur cumque nemo cum. Explicabo dicta consequatur odio! Obcaecati ad nostrum quisquam harum dolorum, ratione iste qui quidem, at praesentium accusantium quaerat iusto, saepe commodi! Eius asperiores obcaecati dolores quia repellat voluptates ad itaque. Esse nostrum hic obcaecati.</p>
        </section>
    </div>
    
</body>
</html>