<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body>
    <div class="w-1/2 bg-gray-200 p-4 mx-auto m-4 flex flex-col items-center">
        <h1 class="text-2xl font-bold" data-th-text="${name}"> Welcome to Home page</h1>
        <p data-th-text="${add}">here is address</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit repudiandae ea dolor numquam enim atque! Distinctio vel laboriosam ad cumque doloremque exercitationem repudiandae nulla culpa incidunt non commodi aperiam nobis obcaecati porro, neque repellat necessitatibus mollitia. Accusantium itaque iste omnis voluptas, esse eveniet, possimus et fugiat maxime nisi officiis quod.</p>
        <div>
            <button class="px-3 py-3 bg-blue-700 rounded text-white hover:bg-blue-500"> click here</button>
        </div>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</html>