<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>

<body>
    <h1>This is services Page</h1>
    <hr />
    <div th:replace="~{base::parent(~{::.third_content})}">
        <section id="main_content">
            <h1>This is dynamic service pass to base parent</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, minus vitae. Quo velit fuga, placeat
                est possimus perferendis quidem dolores ut corporis qui, recusandae, incidunt unde consequuntur
                consequatur repudiandae vitae!
            </p>

        </section>
        <section id="second_content">
            <h1>This is second content</h1>
        </section>
        <section class="third_content">
            <h1>This is third content</h1>
        </section>
    </div>

</body>

</html>