<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content}, ~{::title},~{})}">
<head>
    <title>Services Page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to Service Page</h1>
        <h2>Service offered by SCM</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, nulla quo. Vero, commodi explicabo reiciendis animi qui velit! Tenetur, ea?</p>

    </section>
    <!-- <script>
        console.log("this is services ka script tag");
    </script> -->
</body>
</html>